---
---
<footer class="site-foot">
    <div>&copy; {new Date().getFullYear()} <a href={`${import.meta.env.BASE_URL}/`.replace(/\/+/g, '/')}>Güler Hirsch</a></div>
    <div>
        Ceramic Art & Design
    </div>
</footer>
